<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LowerApplication.xmlConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
   <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <LowerApplication.xmlConfiguration>
      <setting name="Key" serializeAs="String">
        <value />
      </setting>
      <setting name="License" serializeAs="String">
        <value />
      </setting>
      <setting name="SysColor" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>data source=.;initial catalog=SmartLower;user id=sa;password=abc123!@#</value>
      </setting>
      <setting name="AdminUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="AdminPassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="nCopies" serializeAs="String">
        <value>3</value>
      </setting>
    </LowerApplication.xmlConfiguration>
  </userSettings>
<connectionStrings>
  <add name="SmartLowerEntities" connectionString="metadata=res://*/SlModel.csdl|res://*/SlModel.ssdl|res://*/SlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SmartLower;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>